<div class="list-area">
	<div class="list-wrapper">
		<ul class="list" ng-repeat="status in storyboard.statuses">
			<h3 class="status">{{status.name}}</h3>
			<hr/>
			<li userstory class="story"
				ng-repeat="story in storyboard.stories | filter: {status:status.name}"
				drag-container="story" mime-type="application/x-andrello-status"
				drop-container accepts="['application/x-andrello-status']"
				ng-click="storyboard.setCurrentStory(story)">
				<div drop-target="top"
					on-drag-enter="storyboard.insertAdjacent(story, data, true)"
					on-drop="storyboard.finalizeDrop(data)">
				</div>
				<div drop-target="bottom"
					on-drag-enter="storyboard.insertAdjacent(story, data, false)"
					on-drop="storyboard.finalizeDrop(data)">
				</div>
				<article>
					<div>
						<button type="button" class="close"
							ng-click="userStory.deleteStory(story.id)">
							×
						</button>
						<p class="title">{{story.title}}</p>
					</div>
					<div class="type-bar {{story.type}}"></div>
					<div>
						<p>{{story.description}}</p>
					</div>
				</article>
			</li>
			<div class="emptystatus"
				drop-container accepts="['application/x-andrello-status']"
				on-drop="storyboard.finalizeDrop(data)"
				on-drag-enter="storyboard.changeStatus(data,status)"
				ng-if="storyboard.isEmptyStatus(status)">
			</div>
		</ul>
	</div>
</div>
<div class="details">
	<h3>Card Details</h3>
	<form name="storyboard.detailsForm">
		<div class="form-group">
			<div class="controls">
				<label class="control-label" for="inputTitle">*Title</label>
				<input type="text" id="inputTitle" name="inputTitle"
				placeholder="Title" ng-model="storyboard.editedStory.title"
				ng-required="true" ng-minlength="3" ng-maxlength="30"
				class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
			<label class="control-label" for="inputStatus">*Status</label>
				<select id="inputStatus" name="inputStatus"
				ng-model="storyboard.editedStory.status" ng-required="true"
				ng-options="status.name as status.name for status in storyboard.statuses"
				class="form-control">
					<option value="">Please select...</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<label class="control-label" for="inputType">*Type</label>
				<select id="inputType" name="inputType"
				ng-model="storyboard.editedStory.type" ng-required="true"
				ng-options="type.name as type.name for type in storyboard.types"
				class="form-control">
					<option value="">Please select...</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<label class="control-label" for="inputDescription">Description</label>
				<textarea type="text" id="inputDescription" name="inputDescription"
					placeholder="Description" ng-model="storyboard.editedStory.description"
					rows="3" class="form-control">
				</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<label class="control-label" for="inputAcceptance">Acceptance Criteria</label>
				<textarea type="text" id="inputAcceptance" name="inputAcceptance"
					placeholder="Acceptance Criteria" ng-model="storyboard.editedStory.criteria"
					rows="3" class="form-control">
				</textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<label class="control-label" for="inputReporter">*Reporter</label>
				<select id="inputReporter" name="inputReporter"
				ng-model="storyboard.editedStory.reporter" ng-required="true"
				ng-options="user.id as user.name for user in storyboard.users"
				class="form-control">
					<option value="">Please select...</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="controls">
				<label class="control-label" for="inputAssignee">*Assignee</label>
				<select id="inputAssignee" name="inputAssignee"
				ng-model="storyboard.editedStory.assignee" ng-required="true"
				ng-options="user.id as user.name for user in storyboard.users"
				class="form-control">
					<option value="">Please select...</option>
				</select>
			</div>
		</div>
		<!-- ... -->
	</form>
	<hr/>
	<div ng-if="storyboard.currentStory">
		<button class="btn btn-default" ng-click="storyboard.updateCancel()">
			Cancel
		</button>
		<button class="btn pull-right btn-default" 
			ng-disabled="!storyboard.detailsForm.$valid"
			ng-click="storyboard.updateStory()">
			Update Story
		</button>
	</div>
	<div ng-if="!storyboard.currentStory">
		<button class="btn pull-right btn-default" 
			ng-disabled="!storyboard.detailsForm.$valid"
			ng-click="storyboard.createStory()">
			Create Story
		</button>
	</div>
</div>